In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [8]:
train = pd.read_csv("../data/obent/train.csv")
test = pd.read_csv("../data/obent/test.csv")
sample = pd.read_csv("../data/obent/sample.csv", header =None)

In [9]:
train.head()

,datetime,y,week,soldout,name,kcal,remarks,event,payday,weather,precipitation,temperature
0,2013-11-18,90,月,0,厚切りイカフライ,NaN,NaN,NaN,NaN,快晴,--,19.8
1,2013-11-19,101,火,1,手作りヒレカツ,NaN,NaN,NaN,NaN,快晴,--,17.0
2,2013-11-20,118,水,0,白身魚唐揚げ野菜あん,NaN,NaN,NaN,NaN,快晴,--,15.5
3,2013-11-21,120,木,1,若鶏ピリ辛焼,NaN,NaN,NaN,NaN,快晴,--,15.2
4,2013-11-22,130,金,1,ビッグメンチカツ,NaN,NaN,NaN,NaN,快晴,--,16.1

In [10]:
from sklearn.linear_model import LinearRegression

In [13]:
trainX = train["temperature"]
y = train["y"]

In [15]:
testX = test["temperature"]

In [16]:
trainX

0      19.8
1      17.0
2      15.5
3      15.2
4      16.1
       ...
202    24.8
203    25.4
204    27.1
205    26.6
206    28.1
Name: temperature, Length: 207, dtype: float64

In [19]:
trainX = trainX.values.reshape(-1,1)

AttributeError: 'numpy.ndarray' object has no attribute 'values'

In [18]:
trainX

array([[19.8],
       [17. ],
       [15.5],
       [15.2],
       [16.1],
       [14.6],
       [17.9],
       [14.7],
       [17.7],
       [12.1],
       [13.8],
       [13.9],
       [13.5],
       [13.8],
       [14.9],
       [ 9.1],
       [ 7.1],
       [11. ],
       [12.3],
       [13.9],
       [11.3],
       [10.8],
       [ 7.8],
       [ 6.8],
       [ 8.4],
       [11.5],
       [ 8. ],
       [ 7.3],
       [ 7.3],
       [ 9.8],
       [10.9],
       [ 5.1],
       [ 5.8],
       [ 2.9],
       [ 7. ],
       [ 7.8],
       [ 6.5],
       [10.4],
       [ 7.4],
       [ 8.5],
       [10.1],
       [ 5.1],
       [12.6],
       [10.3],
       [15.3],
       [14.1],
       [15.9],
       [ 3.8],
       [ 3. ],
       [ 4.2],
       [ 5.5],
       [ 7.8],
       [ 6.3],
       [ 6.4],
       [ 1.2],
       [11.6],
       [ 6.8],
       [ 7.3],
       [ 5.4],
       [ 8.5],
       [ 6.6],
       [10.5],
       [11.5],
       [ 8.5],
       [17.7],
       [ 7.8],
       [ 8.3],
       [ 6.1],
       [ 6.7],
       [ 7. ],
       [ 7.6],
       [ 8.7],
       [14.8],
       [15.2],
       [11.5],
       [14. ],
       [18.9],
       [12.6],
       [ 7.5],
       [17.4],
       [18.9],
       [18.7],
       [12.4],
       [18.5],
       [17.5],
       [16.1],
       [18.2],
       [14.3],
       [17.8],
       [13.8],
       [20.1],
       [19. ],
       [21.3],
       [16.5],
       [16.4],
       [19.7],
       [21.5],
       [20.1],
       [11.4],
       [16.4],
       [18.8],
       [19.4],
       [19.9],
       [20.8],
       [22.7],
       [17.5],
       [24. ],
       [23.3],
       [18.9],
       [21. ],
       [23.4],
       [22.7],
       [18.6],
       [26. ],
       [19.3],
       [23.8],
       [22.8],
       [23.9],
       [17.4],
       [19. ],
       [19.8],
       [23.9],
       [23.7],
       [25.7],
       [26. ],
       [26.9],
       [30.6],
       [27. ],
       [27.5],
       [21.5],
       [19.9],
       [25. ],
       [25.5],
       [22.3],
       [21.3],
       [29.5],
       [28.1],
       [27.6],
       [21.9],
       [27.5],
       [26.5],
       [26.9],
       [23.7],
       [25.2],
       [25.2],
       [25.4],
       [25.5],
       [28.3],
       [28.8],
       [27. ],
       [22.1],
       [24. ],
       [29.7],
       [24.6],
       [28.8],
       [33.9],
       [30.9],
       [30.3],
       [30.9],
       [30.1],
       [25.6],
       [30.2],
       [32. ],
       [32.5],
       [33.6],
       [28.9],
       [30.4],
       [30.6],
       [32.5],
       [32.7],
       [32.7],
       [34.3],
       [34.6],
       [32.1],
       [31.1],
       [32.4],
       [29.4],
       [32.2],
       [33.3],
       [33.3],
       [33. ],
       [33.1],
       [26. ],
       [26.2],
       [21. ],
       [21.6],
       [25.1],
       [23.4],
       [29.1],
       [26.7],
       [26.5],
       [30.2],
       [23.1],
       [26.8],
       [25. ],
       [21.9],
       [27.3],
       [28.8],
       [25. ],
       [24.1],
       [23.6],
       [25.2],
       [24.8],
       [25.4],
       [27.1],
       [26.6],
       [28.1]])

In [20]:
testX = testX.values.reshape(-1, 1)

In [21]:
model1 = LinearRegression()

In [22]:
model1.fit(trainX, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [23]:
model1.coef_

array([-2.5023821])

In [24]:
model1.intercept_

134.79948383749928

In [25]:
pred = model1.predict(testX)

In [27]:
sample.head()

           0   1
0  2014-10-1  24
1  2014-10-2  71
2  2014-10-3  25
3  2014-10-6  32
4  2014-10-7  60

In [28]:
sample[1] = pred

In [29]:
sample.head()

           0          1
0  2014-10-1  84.251365
1  2014-10-2  74.992552
2  2014-10-3  62.981117
3  2014-10-6  80.998269
4  2014-10-7  79.496839